@page
@using TBSExam.Models.Models;
@model DevExpress.UI.Pages.GeneradorPedidos.PedidosModel
@{
	ViewData["Title"] = "Pedidos";
}

<head>
	<link rel="stylesheet" type="text/css" href="~/css/own/general-style.css">
</head>

<h2>Pedidos</h2>

@(
Html.DevExtreme().DataGrid<Pedido>()
	.ID("gridContainer")
	.ShowBorders(true)
	.FilterRow(filterRow => filterRow
		.Visible(true)
		.ApplyFilter(GridApplyFilterMode.Auto)
	)
	.HeaderFilter(headerFilter => headerFilter.Visible(true))
	.Paging(p => p.PageSize(10))
	.Pager(pager =>
	{
		pager.Visible(true);
		pager.DisplayMode(GridPagerDisplayMode.Full);
		pager.ShowPageSizeSelector(true);
		pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
		pager.ShowInfo(true);
		pager.ShowNavigationButtons(true);
	})
	.Editing(e => e.Mode(GridEditMode.Popup)
		.AllowAdding(true)
		.AllowUpdating(true)
		.AllowDeleting(true)
		.Popup(p => p
			.Title("New Pedido")
			.ShowTitle(true)
			.Width(550)
			.Height(400)
		)
		.Form(f => f.Items(items =>
		{
			items.AddGroup()
				.ColCount(2)
				.ColSpan(2)
				.Items(groupItems =>
				{
					groupItems.AddSimpleFor(m => m.articulo);
					groupItems.AddSimpleFor(m => m.nombre);
					groupItems.AddSimpleFor(m => m.telefono);
					groupItems.AddSimpleFor(m => m.correo);
				});
		}))
	)
	.Columns(columns =>
	{
		columns.AddFor(m => m.articulo)
			.Alignment(HorizontalAlignment.Center)
			.AllowHeaderFiltering(false);
		columns.AddFor(m => m.nombre)
			.Alignment(HorizontalAlignment.Center);
		columns.AddFor(m => m.telefono)
			.Alignment(HorizontalAlignment.Center)
			.AllowHeaderFiltering(false);
		columns.AddFor(m => m.correo)
			.Alignment(HorizontalAlignment.Center)
			.AllowHeaderFiltering(false);
		columns.AddFor(m => m.folio_id)
			.Alignment(HorizontalAlignment.Center)
			.AllowHeaderFiltering(false);
		columns.AddFor(m => m.usuario.nombreUsuario)
			.Alignment(HorizontalAlignment.Center);
	})
	.DataSource(d => d.Mvc()
		.Controller("Pedidos")
		.LoadAction("Get")
		.InsertAction("Create")
		.UpdateAction("Update")
		.DeleteAction("Delete")
		.Key("pedido_id")
	)
)