@page
@using TBSExam.Models.Models;
@{
    ViewData["Title"] = "Bitacora";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/own/general-style.css">
</head>

<h2>Bitacora</h2>

@(Html.DevExtreme().DataGrid<Bitacora>()
    .DataSource(ds => ds.Mvc()
        .Controller("Bitacora")
        .LoadAction("Get")
        .Key("shipment_id")
    )
    .Paging(p => p.PageSize(10))
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.accion);

        columns.AddFor(m => m.shipment_date);

        columns.AddFor(m => m.usuario.nombreUsuario);
    })
)
