@page
@using TBSExam.Models.Models;
@{
    ViewData["Title"] = "Usuarios";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/own/general-style.css">
</head>

<h2>Usuarios</h2>

@(
Html.DevExtreme().DataGrid<Usuario>()
    .ID("gridContainer")
    .ShowBorders(true)
    .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .Paging(p => p.PageSize(10))
    .Pager(pager =>
    {
        pager.Visible(true);
        pager.DisplayMode(GridPagerDisplayMode.Full);
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
    })
    .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
        .Popup( p => p
            .Title("New Usuario")
            .ShowTitle(true)
            .Width(500)
            .Height(500)
        )
        .Form(f => f.Items(items => {
            items.AddGroup()
                .ColCount(1)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.cveUsuario);
                    groupItems.AddSimpleFor(m => m.nombreUsuario);
                    groupItems.AddSimpleFor(m => m.usuPwd);
                });

        }))
    )
    .Columns(columns => {
        columns.AddFor(m => m.cveUsuario)
            .Alignment(HorizontalAlignment.Center)
            .AllowHeaderFiltering(false);
        columns.AddFor(m => m.nombreUsuario)
            .Alignment(HorizontalAlignment.Center)
            .AllowHeaderFiltering(false);
        columns.AddFor(m => m.usuPwd)
            .Alignment(HorizontalAlignment.Center)
            .AllowHeaderFiltering(false);
        columns.AddFor(m => m.numAcceso)
            .Alignment(HorizontalAlignment.Center)
            .AllowHeaderFiltering(false);
        columns.AddFor(m => m.ultimoAcceso)
            .Alignment(HorizontalAlignment.Center)
            .Format("d/M/yyyy");
    })
    .DataSource(d => d.Mvc()
        .Controller("Usuarios")
        .LoadAction("Get")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("usuario_id")
    )
)