@page
@using TBSExam.Models.Models;
@{
    ViewData["Title"] = "Usuarios";
}

<h2>Usuarios</h2>

@(
Html.DevExtreme().DataGrid<Usuario>()
    .ID("gridContainer")
    .ShowBorders(true)
    .Paging(p => p.Enabled(false))
    .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
        .Popup( p => p
            .Title("New Usuario")
            .ShowTitle(true)
            .Width(500)
            .Height(350)
        )
        .Form(f => f.Items(items => {
            items.AddGroup()
                .ColCount(1)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.cveUsuario);
                    groupItems.AddSimpleFor(m => m.nombreUsuario);
                    groupItems.AddSimpleFor(m => m.usuPwd);
                });

        }))
    )
    .Columns(columns => {
        columns.AddFor(m => m.cveUsuario);
        columns.AddFor(m => m.nombreUsuario);
        columns.AddFor(m => m.usuPwd);
        columns.AddFor(m => m.numAcceso);
        columns.AddFor(m => m.ultimoAcceso);
    })
    .DataSource(d => d.Mvc()
        .Controller("Usuarios")
        .LoadAction("Get")
        .InsertAction("Create")
        .UpdateAction("Update")
        .DeleteAction("Delete")
        .Key("usuario_id")
    )
)