@page
@model IndexModel

<form method="post"> 
	<div class="form-floating mb-3">
		<input type="text" class="form-control" id="usuario" name="Usuario" placeholder="Usuario"/>
		<label for="usuario">Usuario</label>
	</div>
	<div class="form-floating mb-3">
		<input type="password" class="form-control" id="password" name="Password" placeholder="Password"/>
		<label for="password">Contraseña</label>
	</div>
	<button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
</form>